<section class="seccion-sobre-mi" #section>
  <div class="title-container">
      <div class="section-title">
        <i class="fa-solid fa-user"></i>
        <h2>Sobre Mí</h2>
      </div>
  </div>
  <div class="about-card">
    <div class="left-column">
      <h3>Información de Contacto</h3>
      <div class="contact-list">
        <a *ngFor="let item of contactInfo" [href]="item.link" target="_blank" class="contact-item">
            <i [class]="item.icon"></i>
            <span>{{item.text}}</span>
        </a>
      </div>
      <h3 class="map-title">Ubicación</h3>
      <div id="mapa"></div>
    </div>
    <div class="right-column">
      <div class="accordion">
        <div *ngFor="let section of accordionSections; let i = index" class="accordion-item">
            <div class="accordion-header" (click)="toggleAccordion(i)">
                <div class="header-content">
                    <i [class]="'fa-solid ' + section.icon"></i>
                    <h3>{{section.title}}</h3>
                </div>
                <i class="fa-solid fa-chevron-down" [class.rotated]="section.isExpanded"></i>
            </div>
            <div class="accordion-content" [class.expanded]="section.isExpanded">
                <div class="content-wrapper">
                    <p *ngIf="section.description" class="description">{{section.description}}</p>
                    <div *ngIf="section.skills" class="skills-container">
                        <div *ngFor="let skill of section.skills" class="skill-item">
                            <span class="skill-name">{{skill.name}}</span>
                            <div class="progress-bar-container">
                                <div class="progress-bar-fill" [style.width.%]="section.isExpanded ? skill.level * 20 : 0"></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="section.hobbies" class="hobbies-container">
                        <div *ngFor="let hobby of section.hobbies" class="hobby-card">
                            <i [class]="'fa-solid ' + hobby.icon"></i>
                            <span>{{hobby.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>