<header class="header">
  <div class="header__container">
    <a (click)="scrollTo('inicio')" class="header__logo">Bryan</a>

    <nav class="header__nav" [ngClass]="{ 'is-open': isOpen }">
      <a (click)="scrollTo('inicio')" class="header__link">Home</a>
      <a (click)="scrollTo('sobremi')" class="header__link">About</a>
      <a (click)="scrollTo('estudios')" class="header__link">Skills</a>
      <a (click)="scrollTo('proyectos')" class="header__link">Projects</a>
      <a (click)="scrollTo('contact')" class="header__link">Contact</a>
    </nav>

    <div class="header__social">
      <a href="https://github.com/bryanjrr" target="_blank" class="header__social-link"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/bryan-jrr/" target="_blank" class="header__social-link"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="header__toggle" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</header>