<section class="seccion-principal">
    <div id="particles-js" class="fondo-particulas"></div>
    <div class="contenedor-tarjeta">
      <div class="tarjeta-presentacion">
        <div class="contenedor-imagen">
            <img src="assets/foto.jpg" alt="Descripción de la imagen">
        </div>
        <div class="contenido-texto">
          <h1 class="nombre">Bryan Joya Rubio</h1>
          <h2 class="titulo">Desarrollador Web</h2>
          <ul class="iconos-sociales">
            <li class="icono"><a target="_blank" href="https://github.com/bryanjrr/"><i class="fa-brands fa-github"></i></a></li>
            <li class="icono"><a target="_blank" href="https://www.linkedin.com/in/bryan-joya-rubio-039045275"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="icono"><a href="./CV Bryan Joya.pdf"><i class="fa-regular fa-file"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  