
#particles-js {
  height: 100%;
  background: rgb(7, 7, 7)
} 
.seccion-principal {
    width: 100%;
    margin-top: 7.5rem; /* mt-30 */
    padding: 14.25rem 0; /* py-57 */
    background: linear-gradient(to bottom, #000000, #1a1a1a); /* from-black-900 to-gray-900 */
    min-height: 850px;
    position: relative;
    margin-left: 0;
  }
  
  .fondo-particulas {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
  }
  
  .contenedor-tarjeta {
    position: relative;
  }
  
  .tarjeta-presentacion {
    max-width: 66.666%;
    margin: auto;
    border-radius: 2rem; /* rounded-4xl */
    display: flex;
    justify-content: center;
    gap: 2.5rem; /* gap-10 */
    padding: 3.75rem; /* p-15 */
    background-color: black;
    box-shadow: 0 0 10px white;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .tarjeta-presentacion:hover {
    box-shadow: 0 0 15px #b91c1c; /* hover rojo */
  }
  
  .contenedor-imagen img {
    border-radius: 1rem; /* rounded-2xl */
    width: auto;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3); /* sombra */
  }
  
  .contenido-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.75rem; /* p-7 */
  }
  
  .nombre {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: white;
    font-size: 3.75rem;
    margin: 0;
  }
  
  .titulo {
    font-family: sans-serif;
    font-size: 3rem; /* text-5xl */
    padding: 2.25rem; /* p-9 */
    border-bottom: 3px solid white; /* border-b-3 */
    text-align: center;
    color: white;
  }
  
  .iconos-sociales {
    display: flex;
    gap: 1.25rem; /* gap-5 */
    justify-content: center;
    padding: 1.25rem; /* p-5 */
    list-style: none;
  }
  
  .icono {
    border: 1px solid white;
    padding: 0.75rem;
    border-radius: 1.5rem; /* rounded-3xl */
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease-in-out;
  }
  
  .icono:hover {
    transform: scale(1.1);
  }
  
  .icono i {
    font-size: 3.75rem; /* text-6xl */
    color: white;
  }
  