<section class="seccion">
  <article class="containerTitulo">
    <i class="fa-solid fa-user user-logo"></i>
    <h2>Mis Proyectos</h2>
  </article>

  <div class="grid-container">
    <div class="card-wrapper" *ngFor="let proyecto of proyectos">
      <div
        class="card-image"
        style="
          background-image: url('assets/Proyectos/CompoTech/compotech-bg.png');
        "
      ></div>
      <div class="card">
        <div class="card-header">
          <i class="fas fa-store card-icon"></i>
          <h1>{{ proyecto.titulo }}</h1>
        </div>
        <div class="card-content">
          <p>
            {{ proyecto.descripcion }}
          </p>
          <div class="tech-section">
            <h3>Tecnologías Utilizadas:</h3>
            <div class="tech-list">
              <div class="tech-item">
                <p>Tecnologias</p>
                <span class="tech-tag" *ngFor="let tech of categoria.lista">
                  <i class="tech.icono"></i>{{ tech.nombre }}
                </span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a href="#" class="btn-link"
              >Más Información <i class="fas fa-info-circle"></i
            ></a>
            <a href="#" target="_blank" class="btn-link">
              Link Repositorio <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
