<header class="header">
    <div class="logo-menu">
        <h2 class="logo">BryanJr</h2>
        <div id="menuBtn" class="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <div>
        <nav id="listMenu" class="nav-menu">
            <a href="" class="nav-link hover-underline"><i class="fa-solid fa-house"></i> Inicio</a>
            <a href="" class="nav-link hover-underline"><i class="fa-solid fa-user"></i> Sobre Mi</a>
            <a href="" class="nav-link hover-underline"><i class="fa-solid fa-books"></i> Estudios</a>
            <a href="" class="nav-link hover-underline"><i class="fa-solid fa-code"></i> Proyectos</a>
            <a href="" class="nav-link hover-underline"><i class="fa-solid fa-suitcase"></i> Mi Valor</a>
        </nav>
    </div>
</header>
