<section class="seccion-principal">
    <div id="particles-js" style="background-color: black;"></div>
    
    <mat-card class="card-presentation mat-elevation-z10">
        <div class="main-content">
            <div class="photo-container">
                <img src="assets/foto.jpg" alt="Bryan Joya Rubio">
            </div>
            
            <div class="text-content">
                <h1 class="nombre">BRYAN JOYA RUBIO</h1>
                <h2 class="title-fullstack">Desarrollador Fullstack</h2>
                
                <ul class="social-links">
                    <li><a target="_blank" href="https://github.com/bryanjrr/"><i class="fa-brands fa-github"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/bryanjrr/"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://drive.google.com/file/d/..." target="_blank"><i class="fa-regular fa-file-lines"></i></a></li>
                </ul>
                
                <mat-divider></mat-divider>
                <div class="github-activity">
                    <p class="activity-title">Última actividad en GitHub:</p>
                    <div class="commit-display">
                        <div *ngIf="false" class="latest-commit">
                            <span>🚀 [Mensaje del Commit]</span>
                            <span class="commit-date">hace 5 minutos</span>
                        </div>
                        <div *ngIf="true" class="placeholder-text">
                            Cargando datos de la API de GitHub...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</section>